.App {
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7717d;
  color: rgb(235, 235, 235);
}

.nav--icon {
  margin-right: 1em;
}

.nav--title {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

.travel-cards {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.travel-card {
  background: #c2cad0;
  display: flex;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
  max-width: 90%;
  border-radius: 12px;
}

.travel-card--picture {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-right: 4rem;
  border-radius: 8px;
}

.travel-card--content {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 2rem 0;
  width: 100%;
}

.travel-card--location-and-link {
  display: flex;
  align-items: center;
}

.travel-card--location-icon {
  margin-right: 0.5rem;
  color: #e7717d;
}

.travel-card--location {
  font-size: 1.5rem;
}

.travel-card--link {
  color: #e7717d;
}

.travel-card--link:hover {
  color: rgb(116, 148, 85);
}

.travel-card--atraction {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.travel-card--date {
  margin-top: 0;
  font-weight: 500;
}
